@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300,300i,400,600,800');

/* Theme Colors */
$primary: #EDEDED;
$secondary: #1471FF;
$lightText: #FAFAFA;

$blueAccent: #1E30AE;
$orangeAccent: #E84E01;
$dark: #1E1F1E;
$darkOpaque: rgba(30,31,30, .8);

body {
  background-color: $dark;
  color: $lightText
}

.section {
  background-color: $dark;
}
.section-content {
  padding: 30px;
  font-family: 'Open Sans';
}
.section-header {
  font-family: 'Fjalla One';
  font-weight: 600;
}
.btn-outline-primary {
  border-color: white;
  color: white;
}

.btn-outline-primary:hover {
  border-color: #E87220;
  background-color: #E87220;
}

.btn-outline-primary:disabled {
  color: white;
}

.btn-success {
  border-color: #E87220;
  background-color: #E87220;
}

.btn-success:hover {
  border-color: #cb6115;
  background-color: #cb6115
}

.btn-success:active {
  border-color: #bd5a14 !important;
  background-color: #bd5a14 !important;
}

.btn-success:active,
.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(189, 90, 20, 0.5) !important;
}

.btn-link {
  color: white;
}

.btn-link:disabled {
  color: white;
  opacity: 0.3;
}

.btn-link:hover:not(:disabled),
.btn-link.selected {
  color: #E87220;
}



.list-group-item, .card, input[type=text], input[type=text]:focus {
  color: $lightText;
  background-color: $darkOpaque;
}
.card {
  border-radius: 0;
}
.modal {
  color: $dark;
}
.modal-header {
  color: $lightText;
  background-color: #1D42AE;
}

/* Oper Specific Styling */
.opener {
  background-color: rgba(29,66,174,.4);
  height: 95vh;

}
.opener-content {
  margin-top: 30vh;
}
.opener-title {
  font-family: 'Fjalla One';
  font-size: 25px;
}
.opener-subtitle {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 35px;
}
.opener-button {
  font-family: 'Open Sans';
  font-weight: 400;
  padding: 20px;
  font-size: 15px;
  border-radius: 30px;
}
.opener-button:hover {
  color: #1E1F1E;
  background-color: rgba(232,114,32,.5);
  border-color: rgba(232,114,32,.5);
}
.background-image-parralax {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
}
.opener-background {
  background-image:
    url("http://publish.illinois.edu/digitalillinois/files/2014/12/chi-university-of-illinois-campus-20140123.jpg");

  top: 0;
  left: 0;
  z-index: -1;
}

/* Schedule Builder Styling */
.scheduleBuilder-background {
  background-image:
    url("https://media-cdn.tripadvisor.com/media/photo-s/0e/29/40/1f/memorial-stadium-university.jpg");

  top: 0;
  left: 0;
  z-index: -1;
}
.scheduleBuilder {
  background-color: rgba(232,114,32,.4);
  min-height: 95vh;
}
.startup-content {
  margin-top: 20vh;
}

.selector {

}

.planner, .scheduleView {
  padding: 30px;
}
