/* Theme Colors */
$primary: #EDEDED;
$secondary: #1471FF;

$blueAccent: #1E30AE;
$orangeAccent: #E84E01;
$dark: #1E1F1E;

$buttonBlue: #007bff;

#explorer {
  background-color: $primary;
}

.clickable {
  cursor:pointer;
}

.btn:not([disabled]) {
  cursor: pointer;
}

.card-columns {
  column-count: 2;
}

.card-columns .card {
  display: inline-block;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: .75rem;
}

.explorer-card.card-body {
  margin-bottom: 38px;
}


.term-selector .btn {
  margin-left: 5px;
  margin-right: 5px;
}

// Explorer view

.course-box-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 1.25rem;
}

.add-course-group, .remove-course {
  float: right;
}

@media (min-width: 1300px) {
  .modal-lg {
      max-width: 1200px;
  }
}

// Builder view

.schedule-num {
  font-size: 1.5rem;
  margin-left: 1em;
  margin-right: 1em;
}

.course-container {
  position: absolute;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  left: 0px;
  top: 40px;
  bottom: 0px;
}

.course-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.course {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0px;
  background-color: $buttonBlue;
  color: #fff;
  padding: 0;
  padding-top: .25rem;
  cursor: pointer;
}

.hour-number, .hour-delimiter, .day-name {
  height: 40px;
  border-bottom: 1px solid #BABDB6;
  border-right: 1px solid #BABDB6;
  display: block;
  box-sizing: border-box;
}

.hours .day-name {
  border-left: 1px solid #BABDB6;
}

.day-name {
  border-top: 1px solid #BABDB6;
  text-align: center;
  background-color: #868e96;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 40px;
}

.hours {
  margin-left: 4.166666%;
}

.hour-number {
  text-align: right;
  border-left: 1px solid #BABDB6;
  box-sizing: border-box;
  padding: 10px;
  font-weight: bold;
  background-color: #f8f9fa;
}

.hour-delimiter.top-half,
.hour-delimiter.bottom-half {
  height: 20px;
}

.hour-delimiter.top-half {
  border-bottom-style: dashed;
}

// Planner view

.course-table td {
  padding-bottom: .25rem;
}

.section td {
  padding-top: .25rem;
  padding-bottom: .25rem;
  border: none;
}


.section:last-of-type td {
  padding-bottom: .75rem;
}

td.remove-button {
  padding-top: .5rem;
}

td.remove-button button {
  padding-top: 0.125rem;
  padding-right: 0.75rem;
  padding-bottom: 0.125rem;
  padding-left: 0.75rem;
}
  
.subject-search-wrapper {
  position: relative;
  height: 0px;
  width: 100%;
}

.subject-search .list-group-item {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.subject-search .list-group-item:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.subject-search {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 999;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.subject-search .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.subject-search {
  display: none;
}

.subject-selector.focused .subject-search {
  display: block;
}

.selected-subjects .list-group-item {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  padding-right: 2.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.selected-subjects .list-group-item::after {
  content: 'X';
  display: block;
  color: #fff;
  z-index: 3;
  position: absolute;
  right: .75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
}
