/* Theme Colors */
$primary: #EDEDED;
$secondary: #1471FF;

$blueAccent: #1E30AE;
$orangeAccent: #E84E01;
$dark: #1E1F1E;

#explorer {
  background-color: $primary;
}

.card-columns {
  column-count: 2;
}

.card-columns .card {
  display: inline-block;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: .75rem;
}
